<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Compose Mail</title>
</head>

<body>

    <aside>
        <h2 class="content-head is-center">Compose Mail</h2>
    </aside>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- from start -->
    <form class="gform pure-form pure-form-stacked">
        <div class="form-elements">
            <!-- Email address -->
            <fieldset class="pure-group">
                <label for="email"> Email Address:</label>
                <input id="email" name="email" type="email" value="" required placeholder="email@email.com" #email_address/>
            </fieldset>

            <!-- Email Subject -->
            <fieldset class="pure-group">
                <label for="subject">Subject : </label>
                <input id="subject" name="subject" placeholder="Subject"  #email_subject/>
            </fieldset>

            <!-- Email Message -->
            <fieldset class="pure-group">
                <label for="message">Message: </label>
                <textarea id="message" name="message" rows="10" placeholder="Message..." #email_message></textarea>
            </fieldset>
            <button  class="button-success pure-button button-xlarge" (click)="onSubmit()">
                <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
        </div>
    </form>
    <!-- END -->
</body>

</html>